.title-text {
    font-size: 16px;
    white-space: nowrap;
    margin: 4px;
    padding-bottom: 8px;
}

.scroll-box {
    height: 160px;
    width: 200px;
    overflow: auto;
    border: solid;
    border-width: 1px
}

.list-element {
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
}

.list-element:hover {
    background-color: grey;
    color: white
}

setting {
    display: block;
    margin: 4px;
}