.title-text {
    font-size: 16px;
    white-space: nowrap;
    margin: 4px;
    padding-bottom: 8px;
}

.scroll-box {
    height: 80px;
    overflow: auto;
    border: 1px;
}

setting {
    display: block;
    margin: 4px;
}